* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* CONTAINER */

.container {
    max-width: 1204; /*prima sol*/
    /* max-width: 1140px; seconda sol */
    margin: 0 auto;
    padding: 0 32px; 
}

/* Soluzione più contorta
@media screen  and(max-width: 1203) {
    .container{
        max-width: 1204;
        padding-left: 32px;
        padding-right: 32px;
    }
} */

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.col-3 {
    flex-basis: calc(100%/3);
}

.col-2 {
    flex-basis: calc(100%*2/3);
}

/* BUTTONS */

.button {

}

.button--white {

}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger {
    display: none;
}

/* MEDIAUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* HERO */

.hero{
    padding: 50px 0 100px;
}

.card {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #333333;
    min-height: 200px;
}

.row.gutter{
    row-gap: 24px;
    margin: 0 -12px;
}

/* Prendiamo tutti gli elementi figli diretti di gutter che iniziano con classe col */
.row.gutter > [class^="col"]{
    padding: 0 12px;
}

/* MEDIAUERY HERO */

@media only screen and (max-width: 575px) {
    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }

    .hero {
        padding-bottom: 80px;
    }

}



